{% extends 'base.html' %}

{%load static%}

{% block title%}
 Cars' List
{%endblock%}

{% block content %}

<!-- <h1>{{header}}</h1> -->
<div>
    <form class="form-search ">
    <div>
        <input type="text" name="name" placeholder="name" />
        <input  type='submit' value='Search'/>
    </div>
     <!-- this a tag will redirect back to catlist without a query param! be sure to use the "name" you called the route in your main_app/urls.py -->
     <a href ="{% url 'cars'%}"> Clear Search</a>
</div>
</form> 
<div class="car-img2">
    <img src ='https://www.bmwusa.com/content/dam/bmwusa/8series/myu21/general-overview/tablet/BMW-MY23-8Series-ModelsPage-Hero-Tablet.jpg'>
 </div>
<!-- <div class="main-car-container"> -->
    <div class="car-grid">
    {% for car in cars%}
    <img class="images" src="{{car.img}}" alt="{{car.name}}"/>
    </div>
<div class="images-form">
    <a href="{% url 'car_detail' car.pk %}">
    <h4>Name: {{car.name}}</h4>
    <!-- <h4>Year: {{car.year}}</h4>
    <h4> Country: {{car.country}}</h4> -->
    <p>Posted by : 
        <a href='/user/{{car.user.username}}'>{{car.user.username}}</a>
    </p>
</div>
</div>
</div>
    {%endfor%}
{%endblock%}